.app-container {
  border-color: #b5b7c4;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
}
.align-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
li {
  list-style: none;
  font-family: 'roboto';
}
.date {
  color: #b5b7c4;
  font-size: 13px;
}
.btn-favourite {
  border-style: none;
  background-color: transparent;
}
